<h5>Stident & Instructor Login</h5>
<form action="">
    <label for="username">Username: </label>
    <input type="text" name="username" id=""><br>
    <label for="password">Password: </label>
    <input type="password" name="password" id="">
    <input class="button" type="submit" value="Submit">
</form>